@page
@model TicTacToe.Pages.ServerTicTacToeModel
@{
    ViewData["Title"] = "ServerTicTacToe";
}

<h2>ServerTicTacToe</h2>
<form action="POST">
<div class="board" id="board">
    @for (int y = 0; y < 3; y++)
    {
    <div class="row">
        @for (int x = 0; x < 3; x++)
        {
            @if (Model.State[x, y] == 0)
            {
                <input type="radio" id="cell-@x-@y" name="move" value="@Model.Turn,@x,@y"/>
            }
            else
            {
                <div class="cell">
                    @Model.State[x, y]
                </div>
            }
        }
    </div>

    }
</div>
    <input type="submit" value="Make Your Move @Model.Turn"/>
</form>
